<!--
 Plot Jukes-Cantor formula against p-distance
 Code borrowed from http://bl.ocks.org/weiglemc/6185069
 -->

<style>
div.wrapper {
  text-align: center;
}
div.example {
  text-align: center;
}
</style>


<div id="wrapper">
  <div id="jukes-cantor"></div>
</div>

<script src="{{ site.baseurl }}/public/js/d3.v3.min.js"></script>
<script>

var margin = {top: 20, right: 20, bottom: 30, left: 30},
    width = 400 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;


var svg = d3.select("div#jukes-cantor")
          .append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");          



// setup x 
var xValue = function(d) { return d.time; }, // data -> value
    xScale = d3.scale.linear().range([0, width]), // value -> display
    xMap = function(d) { return xScale(xValue(d));}, // data -> display
    xAxis = d3.svg.axis().scale(xScale).orient("bottom");

// setup y
var yValue = function(d) { return d.dist;}, // data -> value
    yScale = d3.scale.linear().range([height, 0]), // value -> display
    yMap = function(d) { return yScale(yValue(d));}, // data -> display
    yAxis = d3.svg.axis().scale(yScale).orient("left");


d3.csv("{{ site.baseurl }}/data/jukes.csv", function(error, data) {
  data.forEach(function(d) {
    d.time = +d.time;  // cast as numbers
    d.dist = +d.dist;
    //console.log(d);
  });
  
  // don't want dots overlapping axis, so add in buffer to data domain
  xScale.domain([d3.min(data, xValue)-0.1, d3.max(data, xValue)+0.1]);
  yScale.domain([d3.min(data, yValue)-0.1, d3.max(data, yValue)+0.1]);
  
  // x-axis
  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
    .append("text")
      .attr("class", "label")
      .attr("x", width)
      .attr("y", -6)
      .style("text-anchor", "end")
      .text("Expected number of substitutions per site");
      
  // y-axis
  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("class", "label")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("p-distance");
      
  // draw points
  svg.selectAll(".dot")
     .data(data)
     .enter().append("circle")
     .attr("r", 4)
     .attr("cx", xMap)
     .attr("cy", yMap)
     .attr("fill", "#aad")
     .attr("stroke", "white");
     
     // p-distance   
svg.append("line")
  .attr("x1", xScale(0))
  .attr("y1", yScale(0))
  .attr("x2", xScale(1))
  .attr("y2", yScale(1))
  .attr("stroke-width", 2)
  .attr("stroke", "#00000040");
});


  
</script>


