<style>
    table {
        width: 100%;
    }
    rect {
        fill: none;
        cursor: grab;
        pointer-events: all;
    }
</style>



<script src="{{ site.baseurl }}/public/js/phylo.js"></script>


<table>
    <tr>
        <!--<td colspan="2">-->
        <td>
            <div id="unrooted"></div>
        </td>
        <td>
            <div id="rooted"></div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="regression"></div>
        </td>
    </tr>
</table>

<script src="{{ site.baseurl }}/public/js/rtt.js"></script>
