<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li><a href="README.html"/>About</a></li>
      <li><a href="Databases.html"/>Databases</a></li>
      <li><a href="Alignment.html"/>Alignment</a></li>
      <li><a href="Clustering.html"/>Genetic diversity</a></li>
      <li><a href="Trees.html"/>Building trees</li>
      <li><a href="Rates.html"/>Rates of evolution</a></li>
      <li><a href="Clocks.html"/>Molecular clocks</a></li>
      <li><a href="Models.html"/>Modeling epidemics</a></li>
      <li><a href="NGS.html"/>Next-generation sequencing</a></li>
      <li><a href="Genomics.html"/>Genomics</a></li>
    </ul>
    
    <div>
      <span class="sidebar-nowrap">
       by&nbsp;<img src="{{ site.baseurl }}/public/GitHub-Mark-Light-32px.png"/>
       {{ site.github_username }}
      </span>
    </div>

    <p>CC-BY-SA {{ site.time | date: '%Y' }}.
    <img src="{{ site.baseurl }}/public/cc-by-sa.png"/></p>
  </div>
</div>

