<style>
    table {
        width: 100%;
    }
</style>


<script src="{{ site.baseurl }}/public/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/public/js/d3.v3.min.js"></script>
<script src="{{ site.baseurl }}/public/js/phylo.js"></script>


<table>
    <tr>
        <td>
            <div id="unrooted"></div>
        </td>
        <td>
            <div id="rooted"></div>
        </td>
        <td>
            <div id="regression"></div>
        </td>
    </tr>
</table>

    
<script>   
    var margin = {top: 20, right: 20, bottom: 20, left: 20},
        width = 500, 
        height = 500,
        svg = d3.select("div#unrooted")
                .append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g");
    
    // set up plotting scales
    var xValue = function(d) { return d.x; },
        xScale = d3.scale.linear().range([0, width]),
        xMap = function(d) { return xScale(xValue(d)); },
        xAxis = d3.svg.axis().scale(xScale).orient("bottom");
    
    var yValue = function(d) { return d.y; },
        yScale = d3.scale.linear().range([height, 0]),
        yMap = function(d) { return yScale(yValue(d)); },
        yAxis = d3.svg.axis().scale(yScale).orient("left");
    
    var tree = readTree(example);
    equalAngleLayout(tree);

    var data = fortify(tree);

    // add buffer to data domain
    xScale.domain([
        d3.min(data, xValue)-0.1, d3.max(data, xValue)+0.1
    ])
    yScale.domain([
        d3.min(data, yValue)-0.1, d3.max(data, yValue)+0.1
    ])

    // draw x-axis
    svg.append("g")
       .attr("class", "x axis")
       .attr("transform", "translate(0," + height + ")")
       .call(xAxis);
    
    // draw y-axis
    svg.append("g")
       .attr("class", "y axis")
       .call(yAxis);
    
    // draw points
    svg.selectAll(".dot")
       .data(data)
       .enter().append("circle")
       .attr("class", "dot")
       .attr("r", 2)
       .attr("cx", xMap)
       .attr("cy", yMap);


</script>
